body {
	background-color: white;
}

.main-container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	margin-top: 2em;
	margin-bottom: 1em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #00CC99;
}

#map-container {
	width: 500px;
	height: 400px;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#distance-feedback{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	font-family: Merriweather, serif;
	font-size: 1.5em;
	height: 2em;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	padding-top: 0.75em;
	background-color: #00B88A;
	float: left;
	position: relative;
}

.reset {
	color: #0BFFC2;
	cursor: pointer;
	width: 42px;
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
}

.distance-reset{
	width: 508px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 85px;
}

.location-getter {
	width: 530px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.3em;
	margin-top: 0.5em;
}

.form-element{
	margin-top: .5em;
	font-family: Merriweather, serif;
	font-size: 1.5em;
	color: white;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

#go-button{
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	font-family: Lato, sans-serif;
}

.header-text, .distance-comment {
	text-align: center;
}

.distance-comment {
	margin-top: -2.2em;
	margin-bottom: 0.5em;
	font-family: Merriweather, serif;	
	color: #0BFFC2;
	padding-bottom: 0.5em;
	font-size: 1.3em;
}

.header-text {
	margin-top: 0px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: white;
}

.header-text h1{
	margin-top: 0px;
}

.box {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 0.75em;
	border: 1px solid #00A47B;
	background-color: #FFF;
	height: 1.2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	margin: 0.5em;
	color: #999;
}

input[type=submit] {
	background-color: #FF3366;
	color: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 1.5em;
	box-shadow: none;
	border: 1px solid white;
}



@media only screen and (max-width: 610px) {

body {
	background-color: #00CC99;
}

#map-container {
visibility: hidden;
display: none;
}

.main-container {
	width: 100%;
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-top: 1em;
}

.main-container h1 {
	font-size: 1em;
}

.distance-comment {
	font-size: 1em;
	margin: 0.25em;
}

.box, .location-getter, #distance-reset, .header-text, .distance-comment {
	width: 75%;
}

}

@media only screen and (max-width: 350px) {

#distance-feedback {
	padding-top: .3em;
	height: 3em;
}

}





