body {
	background-color: #f9f9f9;
}

.main-container {
	background-color: rgba(255, 255, 255, 1.0);
	z-index: 20;
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	border: none;
}

.location-getter {
	width: 40%;
	display: table;
	margin: 0.5em auto;
}

.location-getter div {
	display: table-cell;
	vertical-align: middle;
}

.box {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 0.75em;
 	background-color: #fafafa;
 	border: 1px solid #171b1e;
	height: 1.2em;
	padding: 0.1em;
	margin: 0.5em;
	color: #171b1e;
	width: 370px;
}

.form-element{
	margin: .5em;
	font-size: 1.5em;
	vertical-align: middle;
}

input[type=submit] {
	font-family: Lato, sans-serif;
	background-color: #d4d9de;
	color: #171b1e;
	font-size: 0.75em;
	box-shadow: none;
	border: 1px solid #171b1e;
	margin: 0.5em;
	padding: 0.1em;
	height: auto;
	transition: all 0.1s ease-in-out 0.25s; 
}


input[type=submit]:hover {
	background-color: #434e56;
	color: #fff;
}

#map-container {
	width: 100vw;
	height: 100vh;
	z-index: 10;
	position: absolute;
}

.distance-feedback{
	width: 100%;
	bottom: 0px;
	position: absolute;
	z-index: 20;
	background: rgba(255, 255, 255, 1.0);
	font-family: Lato, arial, sans-serif;
	font-size: 1.5em;
	height: 2em;
	color: #171b1e;
	text-align: center;
	padding-top: 0.75em;
	border: none;
}

.reset {
	color: #d4d9de;
	margin: 0.5em 0.5em 0.5em 0.15em;
	padding: 0.1em;
}

@media (max-width: 885px) {
	.location-getter div {
		display: inline-block;
	}
}