body {
	background-color: #f9f9f9;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-container {
	background-color: rgba(255, 255, 255, 1.0);
	text-align: center;
	border: 1px solid black;
	flex-grow: 0;
	padding: 0.75em 0 0.75em 0;

}

.location-getter {
	display: table;
	margin: 0.5em auto;
}

.location-getter div {
	display: table-cell;
	vertical-align: middle;
}

.box {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 0.75em;
 	background-color: #fafafa;
 	border: 1px solid #171b1e;
	height: 1.2em;
	padding: 0.1em;
	margin: 0.5em;
	color: #171b1e;
	width: 15em;
}

.form-element{
	font-size: 1.5em;
	vertical-align: middle;
}

input[type=submit] {
	font-family: Lato, sans-serif;
	background-color: #d4d9de;
	color: #171b1e;
	font-size: 0.75em;
	box-shadow: none;
	border: 1px solid #171b1e;
	margin: 0.5em;
	padding: 0.1em;
	transition: all 0.1s ease-in-out 0.25s; 
}


input[type=submit]:hover {
	background-color: #434e56;
	color: #fff;
}

#map-container {
	flex-grow: 1;
}

.distance-feedback{
	background: rgba(255, 255, 255, 1.0);
	font-family: Lato, arial, sans-serif;
	font-size: 1.5em;
	color: #171b1e;
	text-align: center;
	vertical-align: middle;
	padding: 0.75em 0 0.75em 0;
	flex-grow: 0;
}

.reset {
	color: #d4d9de;
	margin: 0 0.5em 0 0.15em;
	padding: 0 0.1em 0 0.1em;
}

@media (max-width: 885px) {
	.main-container div {
		display: inline-block;
	}

	.transformer {
		width: 100%;
	}
}
